@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
  background-color: #404040;
}
	     a {
  font-family: 'Segoe UI', sans-serif;
  color: #ffd000;
  text-align: left;
}
	  p {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: left;
}
	  .pc {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: center;
}
   h1 {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: left;
}
   h2 {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: left;
}
   h3 {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: left;
}
   h4 {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: left;
}
   h5 {
  font-family: 'Segoe UI', sans-serif;
  color: white;
}
   .content {
  max-width: 600px;
  margin: auto;
}
   .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2b2b2b;
  color: white;
  text-align: center;
}
   .header {
  padding: 5px;
  text-align: left;
  background: #2b2b2b;
  color: white;
  font-size: 15px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
   .btnheader {
  border: none;
  background-color: #404040;
  padding: 7px 14px;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
   .btnheader:hover {background: #dba100;}
   .btn {
  border: none;
  background-color: #2b2b2b;
  padding: 7px 14px;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
   .btn:hover {background: #dba100;}
   .box {
  max-width: 600px;
  margin: auto;
  text-align: left;
  background: #2b2b2b;
  color: white;
  padding: 1px 20px;
  border-radius: 7px;
}
img {
  border-radius: 3%;
}
